apiVersion: apps/v1
kind: Deployment
metadata:
  name: backend-deployment
  labels:
    app: fomezap-backend
spec:
  replicas: 2
  selector:
    matchLabels:
      app: fomezap-backend
  template:
    metadata:
      labels:
        app: fomezap-backend
    spec:
      containers:
      - name: backend
        image: fomezap-backend:latest
        imagePullPolicy: Never
        ports:
        - containerPort: 5000
        env:
        - name: NODE_ENV
          value: "production"
        - name: PORT
          value: "5000"
        - name: MONGODB_URI
          value: "mongodb+srv://tffjauds_db_user:sFzKgAiD3oMYiJ2n@fomezap-prod.wwj0swg.mongodb.net/fomezap?retryWrites=true&w=majority&appName=fomezap-prod"
        - name: JWT_SECRET
          value: "fomezap-jwt-secret-2025-k8s"
        - name: CORS_ORIGINS
          value: "http://localhost:30080,http://localhost:3000,http://localhost:5173"
---
apiVersion: v1
kind: Service
metadata:
  name: backend-service
spec:
  selector:
    app: fomezap-backend
  ports:
    - protocol: TCP
      port: 5000
      targetPort: 5000
  type: ClusterIP
